body {
    background-color: rgba(24, 205, 7, 0.795);
    background-size: cover;
    color: black;
}

h1 {
    background-color: rgb(255, 255, 255);
    margin-top: 1%;
    text-align: center;
    color: black;
}

.navbar-utama {
    align-items: flex-end;
    background-color: rgb(255, 255, 255);
    padding: 1%;
    text-align: center;
}

.container {
    text-align: left;
}